body{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: black;
}
.hero{
    width:96%;
    height:96vh;
    overflow: hidden;
}
.hero-img{
    width:96%;
    transform:scale(1.4);
}
.tint{
    background-color:rgba(0, 0, 0, 0.45) ;
    background-image: linear-gradient(to top,rgba(0,0,0,0.8)0,rgba(0,0,0,0)60%,rgba(0,0,0,0.8)100%);
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
}
.content{
    position:absolute;
    top:0;
    color:white;
    width:840px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.nav{
    position:absolute;
    top:0;
    display: flex;
    justify-content: space-between;
    width:990px;
    top:7%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
}
.logo{
    color:red;
}
.nav-flex{
    display: flex;
    gap:20px;
}
.login-btn{
    padding:8px 30px;
    border:none;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 14px;
}
.language_drop_down{
    background-color: #0000006e;
    border:1px solid #eeeeee87;
    color:white;
    padding:6px 30px;
    border-radius: 6px;
    font-size:14px;
}
.logo{
    color:red;
}
.title{
    font-size:46px;
    text-align: center;
}
.sub-title{
    font-size:26px;
}
.desc{
    font-size:18px;
}
.content-input{
    width:320px;
    padding:14px;
    font-size:16px ;
    background-color: rgba(0,0,0,0.551);
    border:1px solid #eeeeee70;
    border-radius: 4px;
}
.content-flex{
    display:flex;
    justify-content: center;
    gap:14px;
}

.content-btn{
    padding:12px;
    background-color: red;
    color:white;
    font-size:16px;
    font-weight: bold;
    border:none;
    border-radius: 4px;
    display:flex;
    align-items: center;
    gap:10px;
    width:190px;
    justify-content: center;
}
.mt{
        padding-top:6px;

}
.container{
       color:white;
       display:flex;
       width:990px;
       margin:100px auto;
       gap:80px;
       align-items: center;
}
.left{
    width:50%;
}
.right{
    width:50%;
}
.tv{
    width: 100%;
    position:relative;
}
.video{
    margin-left:66px;
    width:80%;
    height:90%;
    object-fit: contain;
    position:absolute;
}
.real-tv{
    width:495px;
    display: block;
    position:relative;
    background-color: rgb(36,36,36);
}
.heading{
    font-size:46px;
}
.sub-heading{
    font-size: 24px;
}
section{
    border-bottom: 8px solid #eeeeee34;
}
.container2{
        color:white;
        display:flex;
        width:990px;
        margin:100px auto;
        gap:80px;
        align-items: center;
        margin-left: 35px;
}
.left1{
    width: 50%;
}
.right1{
    width: 50%;
}
.cont-h1{
    font-size: 48px;
}
.cont-p{
    font-size: 26px;
}
.container3{
    color:white;
    display:flex;
    width:990px;
    margin:100px auto;
    gap:80px;
    align-items: center;
}
.device{
    width: 100%;
    position:relative;
}
.video1{
    margin-left: 86px;
    margin-top: 36px;
    width: 60%;
    object-fit: contain;
    position: absolute;
}
.real-tv2{
    width:495px;
    display: block;
    position:relative;
}
.cont3-h1{
    font-size:46px;
}
.cont3-p{
    font-size: 26px;
}
.container4{
    color:white;
    display:flex;
    width:990px;
    margin:90px auto;
    gap:160px;
    align-items: center;
    margin-left: 45px;
}
.cont4-h1{
    font-size: 47px;
}
.cont4-p{
    font-size: 20px;
}
.faq-container{
    width:85vw;
    margin:60px auto;
    color: white;
}
.center{
    text-align: center;
}
.faq{
    background-color: rgb(45, 45, 45);;
    padding: 24px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: .3s;
}
.faq:hover{
    background-color: rgb(67, 67, 67);
    cursor: pointer;
}
.faq-title{
    font-size: 3.0vmax;
}
.para{
    color: white;
    margin-left:27%;
}
.email-signup{
    max-width:600px;
    margin:20px auto 60px;
    display: flex;
    gap:30px;
}
.footer h2{
    font-size:18px;
    font-weight: 400;
    margin-bottom: 30px;
    color:#777;
    padding:50px 15% 10px;
}
 .col{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     padding:15px 15%;
 }
.col a{
    text-decoration: none;
    color:#777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language_drop_down{
    background: transparent;
    border:1px solid #fff;
    padding:7px 10px;
    align-items: center;
    padding:10px 20px;
    margin-left: 15%;
}
.copyright-txt{
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#777;
    margin-left: 15%;
}


